<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link type="text/css" rel="stylesheet" href="../assets/css/stylesheets.css"/>
            <meta charset="UTF-8">
            <title>Editor de Diretorias</title>
        </head>
        <header id="menu">
            <img id="logo" src="../assets/images/SiGAR-01.png" title="SiGAR" alt="SiGAR">
            <nav id="nav1">
                <ul id="menulist">
                    <li class="menuli">Início</li>
                    <li class="menuli">Atas</li>
                    <li class="menuli">Pautas</li>
                    <li class="menuli">Diretorias</li>
                    <li class="menuli">Usuários</li>
                    <li class="menuli"><i class="fa fa-user"></i></li>
                </ul>
            </nav>
        </header>
        <div id="quabra">
            <section id="qbtop">
                <h3 id="qbdep">Departamentos</h3>
                <button id="butadd">Adicionar</button>
            </section>
            <hr id="line"/>
            <section id="qbbot">
                <div class="departments">
                    <img src="https://cdn1.lockerdome.com/uploads/d9d9b371ddffdc91a1cf3c48bce3990ecccbf896eee04d94cdd40f26915b2d22_large" class="depima">
                    <h4>Projetos</h4>
                </div>
                <div class="departments">
                    <img src="http://c.mwp4.me/media/wallpapers_800x1280/memes/1/3/hide-the-pain-harold-trying-to-smile-meme-mobile-wallpaper-800x1280-20331-1387213964.jpg" class="depima">
                    <h4>Marketing</h4>
                </div>
                <div class="departments">
                    <img src="https://openclipart.org/image/2400px/svg_to_png/216576/Hide-the-pain-Harold-lineart.png" class="depima">
                    <h4>Gestão de Pessoas</h4>
                </div>
                <div class="departments">
                    <img src="http://cs5.pikabu.ru/images/previews_comm/2015-01_5/14221153654685.jpg" class="depima">
                    <h4>Vice-Presidência</h4>
                </div>
                <div class="departments">
                    <img src="http://i.imgur.com/MI2Pf2H.jpg?1" class="depima">
                    <h4>Financeiro</h4>
                </div>
                <div class="departments">
                    <img src="http://i3.kym-cdn.com/photos/images/facebook/000/839/183/409.png" class="depima">
                    <h4>Trainees</h4>
                </div>
            </section>
        </div>
    </body>
</html>