<!DOCTYPE html>
<html>
	<body>
		<head>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link type="text/css" rel="stylesheet" href="../assets/css/stylesheets.css"/>
			<meta charset="UTF-8">
            <title>Editor de Diretorias</title>
        </head>
        <header id="menu">
        	<img id="logo" src="../assets/images/SiGAR-01.png" title="SiGAR" alt="SiGAR">
    		<nav id="nav1">
	        	<ul id="menulist">
	        		<li class="menuli">Início</li>
	        		<li class="menuli">Atas</li>
	        		<li class="menuli">Pautas</li>
	        		<li class="menuli">Diretorias</li>
	        		<li class="menuli">Usuários</li>
	        		<li class="menuli"><i class="fa fa-user"></i></li>
	        	</ul>
	        </nav>
        </header>