<!DOCTYPE html>
<html>
    <body>
        <head>
            <link type="text/css" rel="stylesheet" href="../assets/css/stylesheets.css"/>
            <meta charset="UTF-8">
            <title>Editor de Diretorias</title>
        </head>
        <!--<section>
            <p>Editar Diretorias</p>
            <div>
                <h5>Adm/Fin</h5>
            </div>
            <div>
                <h5>Marketing</h5>
            </div>
            <div>
                <h5>Presidência</h5>
            </div>
            <div>
                <h5>Projetos</h5>
            </div>
            <div>
                <h5>GdP</h5>
            </div>
            <div>
                <h5>Trainees</h5>
            </div>
        </section>-->
        <section>
            <div class="topo">
                <p>Diretorias</p>
                <button>Adicionar</button>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </section>
    </body>
</html>
