<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="../assets/css/stylesheets.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <title>Editar Perfil</title>
    </head>
    <body class="body">
        <header id="menu">
            <img id="logo" src="../assets/images/SiGAR-01.png" title="SiGAR" alt="SiGAR">
            <nav id="nav">
                <ul id="menulist">
                    <li class="menuli">
                        <a href="/sigar/views/edit-profile.html" title="Início" >Início</a>
                    </li>
                    <li class="menuli">
                        <a href="/" title="Atas" >Atas</a>
                    </li>
                    <li class="menuli">
                        <a href="/" title="Pautas" >Pautas</a>
                    </li>
                    <li class="menuli">
                        <a href="/" title="Diretorias" >Diretorias</a>
                    </li>
                    <li class="menuli_current">
                        <a href="/" title="Usuários" >Usuários</a>
                    </li>
                </ul>
            </nav>
            <div class="profile">
                <div id="profile_box">
                    <img src="../assets/images/profile.png" title="Perfil" alt="Perfil">
                </div>
            </div>
        </header>
        <section class="container">
            <div>
                <p> Editar Perfil <p>
                <div class="line"> <div>
            </div>
            <div class="box">
                <br><br>
                <div class="field">
                    <label> Nome</label>
                    <input class="input" type="text">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input class="input" type="text">
                </div>
                <div class="field">
                    <label>Senha Antiga</label>
                    <input class="input" type="password">
                </div>
                <div class="field">
                    <label>Nova Senha </label>
                    <input class="input" type="password">
                </div>
                <div class="field">
                    <label>Confirmar NovaSenha </label>
                    <input class="input" type="password">
                </div>
            </div>
            <div class="btn">
            <input class="cancel" value="Cancelar" type="submit"> 
            <input class="submit" value="Salvar" type="submit"> 
            </div>
            <div><br></div>
        </section>
    </body>
    <footer class="footer">
        <p>Sistemas de Gerenciamento de Atas de Reunião </p>
        <br><p>©copyright </p>
        <p>InfoJr UFBA - 2016 </p>
    </footer>
</html>