<!DOCTYPE html>
<html>
    <head> 
        <title>SiGAR</title>
        <link type="text/css" rel="stylesheet" href="../assets/css/recuperarsenha.css"/> 
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="../assets/image/InfoJr_final.png">
        <header> 
        	<img src="../assets/image/" title="SiGAR" alt=""/>
        	
        </header>
    </head>
    <body>
        <section>
            <form action="" method="get"> 
            	<p id="p1">Recuperação de senha</p>
                <img src="../assets/image/InfoJr_final.png" title="SiGAR" alt=""/>
                <input class="email" type="email" placeholder="Digite seu email"/>
                <button>Enviar</button>
            </form>
        </section> 
        <footer>
        	<p id="p2">Sistema de Gerenciamento de Atas de Reunião</p>
			<p id="p3">©copyright</p>
			<p id="p4">InfoJr UFBA - ­2016</p>
        </footer>
    </body>
</html>