<!DOCTYPE html>
<html>
    <head> 
        <title>SiGAR</title>
        <link type="text/css" rel="stylesheet" href="../assets/css/password.css"/> 
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="../assets/image/SiGAR-01.png">
    </head>
    <body>
        <header>
            <img id="logomenup" src="../assets/image/SiGAR-01.png" title="SiGAR" alt=""/>  
            <nav class="navp">
                <ul class="navp" id="menunavp">
                    <li class="navp" id="textnavp">Início</li>
                </ul>
            </nav>
        </header>
        <section>
            <form id="formp" action="" method="get"> 
            	<p id="p1">Recuperação de senha</p>
                <img id="logop" src="../assets/image/SiGAR-01.png" title="SiGAR" alt=""/>
                <input id="emailp" type="email" placeholder="Digite seu email"/>
                <button id="enviarp" >Enviar</button>
            </form>
        </section> 
        <footer>
        	<p class="footerp" id="p2">Sistema de Gerenciamento de Atas de Reunião</p>
			<p class="footerp" id="p3">©copyright</p>
			<p class="footerp" id="p4">InfoJr UFBA - ­2016</p>
        </footer>
    </body>
</html>