* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background-color: #ebebeb;
	background-position: center;
	background-size: cover;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#emailp {
	width: 90%;
	background-color: #dfedd6;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	color: #000;
 	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 50px;
}

#enviarp {
	background-color: #dfedd6;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	padding: 5px 15px;
	font-size: 14px;
}

#enviarp:hover {
	background-color: #92d36e;
	color: #000;
	font-weight: bold;
}

.footerp {
	color: #929292;
	font-size: 15px;
	font-family: Helvetica;
	text-align: center;
	margin-top: -3px;
}

.formp {
	width: 600px;
	height: 450px;
	margin: 0px auto;
	padding: 15px;
	border-radius: 7px;
	margin-top: 150px;
	background-color: #fff;
}

.headp {
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 60px;
	padding: 0 7%;
}

#logomenup {
	height: 100%;
	float: left;
	padding: 5px 0;
}

#logop {
	width: 200px;
	height: 100px;
	margin-bottom: 10px;
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 25px;
}

#menunavp {
	margin: 0;
	padding: 0;
	height: 100%;
}

.navp {
	float: left;
	height: 100%;
}

#p1 {
	color: #000;
	text-align: left;
	font-family: Helvetica;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}

#p2 {
	margin-bottom: 230px;
	margin-top: 200px;
}

#p3 {
	margin-top: -225px;
	margin-bottom: 0px;
}

#p4 {
	margin-top: 0px;
}

.secp {
	width: 100%;
	height: 100%;
	text-align: center;
}

#textnavp {
	display: inline-block;
	height: 100%;
	padding: 20px 5px;
	color: #606060;
	margin-left: 70px;
	cursor: pointer;
	font-family: Helvetica;
	font-size: 18px;
}

#textnavp:hover {
	background-color: #dfedd6;
	padding-left: 7%;
	padding-right: 7%;
}
