* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    color:#606060;
    font-size: 16px;
}

a:link 
{ 
 text-decoration:none; 
} 

.body {
	background-color: #EBEBEB;
	height: 100%;
	margin: 0;
	padding: 0;	
	width:100%;
}

.box {	
	height: 50%;
	margin: 0px auto;
}

.footer {
	background-color: #EBEBEB;
	bottom: 0px;
	color: #919191;
	font-family: helvetica;
	height: 20%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	text-align: center;
	width: 100%;	
}

.footer p {
	margin:2px 0;
}

.line {
  	border-top: 2px solid #c0c0c0;
  	width: 100%;
}

#logo {
	float: left;
	height: 100%;
	margin-left: 0px;
	padding: 5px 0;
}

#menu {
	background-color: #fff;
	font-family: Helvetica;
	height: 60px;
	padding: 0 7%;
	position: relative;
	width: 100%;
}

.menuli {
	display: inline-block;
	height: 100%;
	padding: 20px 25px;
}

.menuli:hover {
    background-color: #DEECD5;
}

.menuli_current {
	background-color: #DEECD5;
	display: inline-block;
	height: 100%;
	padding: 20px 25px;
}

#menulist {
	height: 100%;
	margin: 0px;
	padding: 0;
}

#nav {
	float: left;
	height: 100%;
	margin-left: 500px;
}

.profile {
	float: right;
	height: 100%;
	position: relative;
}

#profile_box {
	background-color: #FFC481;
	border-radius: 2px;
	height: 47px;
	margin: 7px 20px;
	width:  48px;
}

.container {
	background-color: #FFF;
	border: 15px;
	border-radius: 19px;
	height:auto;
	position: relative;	
	margin: 20px auto;
	max-width: 1200px;
	max-height: 80%;
	padding: 50px;
}

.container p {
	color:#000;
	font-family: Helvetica;
	font-size: 28px;
}

.field {
	background-color: #fff;
	font-family: Helvetica;
    font-size: 13px;
    padding: 16px 0 8px 0;
    position: relative;
    margin: auto;
    max-width: 680px;	  
}

.field label {
	color:#606060;
	font-family: Helvetica;
}

#field input[type="text"], #field textarea {
    font-family: Helvetica;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
}

.input {
	background-color: #fff;
    border: 1px solid #929292;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
}

.btn {
	margin: 10px 0px;
}

.cancel {
	background-color: #ff8a84;
	border: solid 1px;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	float: left;
	font-size: 16px;	
	padding: 10px 20px;
	width: auto;
}

.submit {
	background-color: #DEECD5;
	border: solid 1px;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	float: right;
	font-size: 16px;	
	padding: 10px 30px;
	width: auto;
}